<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace为UserDao接口的全类名-->
<mapper namespace="com.qhg.dy.mapper.Model1Mapper">

    <select id="selectOne" parameterType="int" resultType="com.qhg.dy.model.Model1">
        select *
        from model1
        where id = #{id}
    </select>
    <select id="selectAll" resultType="com.qhg.dy.model.Model1">
        select *
        from model1
    </select>
    <update id="update" parameterType="com.qhg.dy.model.Model1">
        update model1
        set name  = #{name},
            value = #{value}
        where id = #{id}
    </update>
    <insert id="insert" parameterType="com.qhg.dy.model.Model1">
        insert model1(name, value)
        values (#{name}, #{value})
    </insert>
    <insert id="insertId" parameterType="com.qhg.dy.model.Model1">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert model1(name, value)
        values (#{name}, #{value})
    </insert>
    <delete id="delete" parameterType="int">
        DELETE
        from model1
        WHERE id = #{id}
    </delete>

</mapper>
